<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{info.title}}</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../style.css" />
</head>

<body>
    {{> nav_layout}}

    <h1>{{info.title}}</h1>

    <i>{{info.subtitle}}</i>

    {{#if info.author}}
    By - {{info.author}}
    {{/if}}

    <div class="blogpost">

        {{> markdown_data}}


    </div>
</body>

</html>